<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN"
    "http://www.apple.com/DTDs/PropertyList-1.0.dtd">

<plist version="1.0">
<dict>
    <key>API_ORIGIN</key>
    <string>$(API_ORIGIN)</string>

    <key>LOCALHOST</key>
    <string></string>

    <key>TELESCAN_BOT</key>
    <string>$(TELESCAN_BOT)</string>

    <key>CFBundleDisplayName</key>
    <string>$(PRODUCT_NAME)</string>

    <key>CFBundleExecutable</key>
    <string>$(EXECUTABLE_NAME)</string>

    <key>CFBundleIdentifier</key>
    <string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>

    <key>CFBundleName</key>
    <string>$(PRODUCT_NAME)</string>

    <key>CFBundleShortVersionString</key>
    <string>$(MARKETING_VERSION)</string>

    <key>CFBundleVersion</key>
    <string>$(CURRENT_PROJECT_VERSION)</string>

    <key>NSBluetoothAlwaysUsageDescription</key>
    <string>Bluetooth lets Telescan discover nearby users and make your profile discoverable while scanning is enabled.</string>
    
    <key>NSCameraUsageDescription</key>
    <string>Camera access lets you take a profile photo.</string>
    
    <key>ITSAppUsesNonExemptEncryption</key>
    <false/>

    <key>UIBackgroundModes</key>
    <array>
        <string>bluetooth-central</string>
        <string>bluetooth-peripheral</string>
    </array>

    <key>UIApplicationSceneManifest</key>
    <dict>
        <key>UIApplicationSupportsMultipleScenes</key>
        <false/>
    </dict>

    <key>UILaunchStoryboardName</key>
    <string>LaunchScreen</string>

    <key>UIRequiresFullScreen</key>
    <true/>

    <key>UISupportedInterfaceOrientations</key>
    <array>
        <string>UIInterfaceOrientationPortrait</string>
    </array>

    <key>UISupportedInterfaceOrientations~ipad</key>
    <array>
        <string>UIInterfaceOrientationLandscapeLeft</string>
        <string>UIInterfaceOrientationLandscapeRight</string>
        <string>UIInterfaceOrientationPortrait</string>
        <string>UIInterfaceOrientationPortraitUpsideDown</string>
    </array>
</dict>
</plist>
